<a href="https://colab.research.google.com/github/Susheet/StockPrediction_LinearRegression/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving AXISBANK.csv to AXISBANK.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style

In [4]:
df = pd.read_csv('AXISBANK.csv')

In [5]:
df.head()

         Date   Symbol Series  ...  Trades  Deliverable Volume  %Deliverble
0  2000-01-03  UTIBANK     EQ  ...     NaN                 NaN          NaN
1  2000-01-04  UTIBANK     EQ  ...     NaN                 NaN          NaN
2  2000-01-05  UTIBANK     EQ  ...     NaN                 NaN          NaN
3  2000-01-06  UTIBANK     EQ  ...     NaN                 NaN          NaN
4  2000-01-07  UTIBANK     EQ  ...     NaN                 NaN          NaN

[5 rows x 15 columns]

In [6]:
df.tail()

            Date    Symbol Series  ...    Trades  Deliverable Volume  %Deliverble
5199  2020-11-23  AXISBANK     EQ  ...  282449.0           6319602.0       0.2663
5200  2020-11-24  AXISBANK     EQ  ...  375786.0           9971416.0       0.3244
5201  2020-11-25  AXISBANK     EQ  ...  345527.0           9454641.0       0.2692
5202  2020-11-26  AXISBANK     EQ  ...  323021.0           7986804.0       0.2251
5203  2020-11-27  AXISBANK     EQ  ...  222217.0          14229087.0       0.4756

[5 rows x 15 columns]

In [8]:
x = df[['High','Low','Open','Volume']].values
y = df['Close'].values

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [16]:
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
 print(regressor.coef_)
 print(regressor.intercept_)

[ 8.16456502e-01  7.16287968e-01 -5.34089691e-01 -1.24533417e-08]
-0.12014108787911937

In [19]:
y_pred = regressor.predict(x_test)

In [20]:
result = pd.DataFrame({'Actual':y_test.flatten(),'Predicted':y_pred.flatten()})
result.head(25)

     Actual    Predicted
0    625.05   623.415160
1    807.55   810.909628
2    336.55   356.487848
3   1121.65  1123.444682
4     45.60    45.232545
5     44.45    44.133327
6     38.20    39.012530
7    486.90   484.534739
8   1265.70  1278.614852
9    409.75   414.172113
10  1430.60  1420.398847
11   629.65   625.264961
12   459.85   460.657479
13   619.65   615.933487
14    36.05    36.063660
15   134.15   134.230011
16   754.80   737.938666
17   499.50   509.886732
18   509.30   509.579179
19  1418.10  1409.149803
20   507.50   507.521743
21    37.75    37.893797
22  1152.90  1142.765707
23   712.85   728.046114
24   424.15   421.826344

In [22]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 6.956202815830071